./datasets/build
*.so
data_dir
data_dir_roadmarking
data_dir*
weights_dota
weights_dota*
weights_dota-data

.idea/
__pycache__/
datasets/__pycache__/
merge_dota-test-data/
models/__pycache__/
pretrain-model/
result_dota-test-data/
test_data_dir
Testresult_dota
*.jpg


